# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies

/node_modules
/config
# /client/dist
# /client/dist/js
# /client/dist/js/app.js
# /client/src
/client/src/components/subcomponents/Stepper.js

# testing
/coverage

# production
/build

# misc
*.xcf
.DS_Store
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.eslintrc.js
