/*
blue: #516091
seafoam: #74BEC1
green: #ADEBBE
yellow: #EEF3AD
*/

body {
  margin: 0;
  font-size: 16px;
  background: #ADEBBE;
}

#eventpagebody, #userpage {
  background-color: #516091;
  padding: 15px;

}

a {
  color: #00bcd4;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.4s;
}

a:hover {
  color: #1976d2;
}

.text-center {
  text-align: center;
}

.top-bar {
  padding: 10px 15px;
}
.top-bar::after {
  content: '';
  display: block;
  clear: both;
}

.top-bar-left {
  float: left;
  font-size: 1.5em;
}

.top-bar-right {
  float: right;
}

.top-bar a,
.nav a {
  margin: 0 8px;
}

.container {
  margin: 0 auto;
  width: 1000px;
}

sidebar {
  padding-left: 20px;
}

article {
  padding: 10px;
  background-color: #74BEC1;
}

article.eventdetail {
  margin-bottom: 15px;
}

.card-heading {
  padding: 16px;
}

.field-line, .button-line {
  padding: 5px;
}

.error-message {
  padding: 0 16px;
  color: tomato;
}

.success-message {
  padding: 0 16px;
  color: green;
}

#userpage {
  display:flex;
}

#eventpagebody {
  display : flex;
}

.image {
  max-width: 100px;
  max-height: 100px;
}

sidebar {
    max-height: 900px;
    overflow-y: scroll;
}

div#top-bar {
  background-color: lime-green;
}

.cardTitle {
  background-color: green;
}




#map {
  max-width: 500px
}

form {
  background-color: white;
}
.container {
  background-color: limegreen;
}
