/*
blue: #516091
seafoam: #74BEC1
green: #ADEBBE
yellow: #EEF3AD
*/

body {
  font-family: sans-serif;
  margin: 0;
  color: #EEF3AD;
  font-size: 16px;
  background: #ADEBBE;
}

#main {
  background-color: #516091;
  padding: 15px;
  display:flex;
}

a {
  color: #516091;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.4s;
}

a:hover {
  color: #ADEBBE;
}

nav {
  padding: 10px 15px;
  width: 970px;
  background: #EEF3AD;
  margin:auto;
}

nav a {
  margin: 0 8px;
}

nav::after {
  content: '';
  display: block;
  clear: both;
}

.center {
  text-align: center;
}

.top-bar-left {
  float: left;
}

.top-bar-right {
  float: right;
}

path {
  color: #EEF3AD;
}

.container {
  margin: 0 auto;
  width: 1000px;
}

sidebar {
  padding-left: 20px;
}

article {
  padding: 10px;
  background-color: #74BEC1;
  margin-bottom: 15px;
}

.selectedEvent {
  margin-bottom: 15px;
  display: flex;
}

.selectedEvent img {

}

.card-heading {
  padding: 16px;
}

.field-line, .button-line {
  padding: 5px;
}

.error-message {
  padding: 0 16px;
  color: tomato;
}

.success-message {
  padding: 0 16px;
  color: green;
}



.image {
  background: url('logo.png');
  background-size: 100px 100px;
  float:left;
  margin-right: 10px;
  width: 100px;
  height: 100px;
}

sidebar {
    max-height: 900px;
    overflow-y: scroll;
}

.fullButton {
  width: 100%;
  margin-bottom: 15px;
  background: #EEF3AD;
}

.drop {
  height: 200px;
  margin-bottom: 15px;
  border: 2px dashed #EEF3AD;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cardTitle {
  background-color: green;
}

#map {
  max-width: 500px;
}

form {
  background-color: white;
}
