/*
blue: #516091
seafoam: #74BEC1
green: #ADEBBE
yellow: #EEF3AD
*/

body {
  margin: 0;
  font-size: 16px;
  background: #ADEBBE;
}

#main {
  background-color: #516091;
  padding: 15px;
  display:flex;
}

a {
  color: #00bcd4;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.4s;
}

a:hover {
  color: #1976d2;
}

nav {
  padding: 10px 15px;
  width: 970px;
  background: #EEF3AD;
  margin:auto;
}

nav a {
  margin: 0 8px;
}

nav::after {
  content: '';
  display: block;
  clear: both;
}

.top-bar-left {
  float: left;
  /*font-size: 1.5em;*/
}

.top-bar-right {
  float: right;
}



.container {
  margin: 0 auto;
  width: 1000px;
}

sidebar {
  padding-left: 20px;
}

article {
  padding: 10px;
  background-color: #74BEC1;
}

article.eventdetail {
  margin-bottom: 15px;
}

.card-heading {
  padding: 16px;
}

.field-line, .button-line {
  padding: 5px;
}

.error-message {
  padding: 0 16px;
  color: tomato;
}

.success-message {
  padding: 0 16px;
  color: green;
}



.image {
  max-width: 100px;
  max-height: 100px;
}

sidebar {
    max-height: 900px;
    overflow-y: scroll;
}

.fullButton {
  width: 100%;
  margin-bottom: 15px;
}

.drop {
  width: 446px;
  height: 200px;
  margin-bottom: 15px;
  border: 2px dashed #EEF3AD;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cardTitle {
  background-color: green;
}




#map {
  max-width: 500px
}

form {
  background-color: white;
}
.container {
  background-color: limegreen;
}
